*{
    font-family: sans-serif;
}
body {
   background-color: bisque;
}
.everything {
    background-color: white;
    height: 1650px;
    width: 40%;
    padding: 20px;
    margin-left: 400px;
    border-radius: 15px;
}
.img img{
    width: 100%;
    height: 320px;
    border-radius: 15px;
    
}
.img h1{
    font-size: 35px;
    font-weight: 400;
}
.img p{
    font-size: 15px;
    line-height: 30px;
}
.preparation h3{
    color: purple;
}
.preparation{
    border-radius: 15px;
    background-color: rgb(247, 203, 210);
    padding: 10px;
}
.Ingredients h2{
    color: rgb(107, 37, 37);
}
.instructions h2{
    color: rgb(107, 37, 37);
}
.nutrition h2{
    color: rgb(107, 37, 37);
}