*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 550px;
    background: url(bus.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    border-radius: 10px;
}
.formbox{
    height: 550px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(68, 146, 219, 0.05);
    color: white;
    backdrop-filter: blur(6px);
    color: white;
}
.tabs {
  display: flex;
  gap: 20px;
  margin: 50px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 500;
}
.tabs span{
    color: rgb(240, 248, 255, 0.3);
    cursor: pointer;
    transition: ease 50ms;
}
.tabs span:hover{
    transform: scale(1.1);
    color: white;
}
.tabs .active{
    color: white;
    border-bottom: 1px solid rgb(60, 60, 175);
}
.forms{
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 14px;
  outline: none;
}
.checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}
.submitbutton button{
  width: 100%;
  padding: 12px;
  background-color: #247afd;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}
.forgot {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}